@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC:wght@400;700&family=Architects+Daughter&family=Baloo+2&family=Barlow+Semi+Condensed:wght@100&family=Changa:wght@200&family=Indie+Flower&family=Irish+Grover&family=PT+Sans&family=Patrick+Hand&family=Qahiri&family=Quicksand:wght@300&family=Rampart+One&family=Shadows+Into+Light&family=Teko:wght@300&family=Ubuntu:wght@300&family=Varela+Round&family=Zen+Kaku+Gothic+Antique:wght@300&family=Zen+Kurenaido&display=swap');
*{
    margin:0;
    box-sizing: border-box;
}


/* TELEFONUI */
@media (max-width:426px){
body{
    background-color: rgba(255, 255, 255, 0);
    background-image: url("foto3.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    }
.main-container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.418);
    padding:5%;
}
.main-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-size: 7vw;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
    height:25%;
    align-items: flex-end;
    padding-top:5%;
}
.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
    height:10%;
    align-items: flex-end;
    /* margin-top:10%; */
}
.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
    height:20%;
}
p{    
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 4.55vw;
    /* margin: 5%; */
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height:30%;
}
label{
    width:100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="text"]{
    width:65%;
    height:20%;
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    padding-bottom:3%;
}
button{
    width:65%;
    height:25%;
    background: transparent;
    border: none;
    border: 1px solid;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight:bold;
    font-size:5vw;
}
::placeholder{
    text-transform: uppercase;
    color:black;
    font-weight:bold;
    font-size:3.5vw;
}

}
/* PLANŠETEI */
@media (min-width:426px) and (max-width:768px){
body{
    background-color: rgba(255, 255, 255, 0);
    background-image: url("foto4.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    }
.main-container{
    height:80vh;
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.418);
    padding-top:5%;
    /* margin-top:20%; */
}
.main-image{
    display: flex;
    justify-content: start;
    align-items: center;
    padding:5%;
}
h2{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    text-align: left;
    font-size: 5vw;}
.h1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* width:100%; */
    height:25%;
    margin-top:10%;
    text-align: left;
    padding: 0 5%;
}
.h2{
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    width:100%;
    height:10%;
    align-items: flex-end;
    /* margin-top:5%; */
    text-align: left;
    padding: 0 5%;
}
.paragraph{
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-start; */
    height:10%;
    width:100%;
}
p{    
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 3vw;
    padding: 0 5%;
    text-align: left;
}
.form-container{
    display: flex;
    width:100%;
    /* justify-content: center; */
    align-items: flex-start;
    flex-wrap: wrap;
    height:30%;
    /* margin-top:5%; */
    padding-left: 5%;
}
label{
    /* width:100%;  */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;}
input[type="text"]{
    /* width:50%;
    height:20%; */
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    /* padding-bottom:3%; */
}
.first, .second{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30%;
    justify-content: left;
    align-items: left;

}
.last{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 60%;
}
button{
    width:40%;
    height:20%;
    background: transparent;
    border: none;
    border: 1px solid;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight:bold;
    font-size:3vw;
}
::placeholder{
    text-transform: uppercase;
    color:black;
    font-weight:bold;
    font-size:2vw;
}
}
/* KOMPIUTERIUI */

@media (min-width:769px){
    body{
        background-color: rgba(255, 255, 255, 0);
        background-image: url("foto2.png");
        object-fit: fill;
        background-repeat: no-repeat;
        height:100vh;
        }
    .main-container{
        height:80vh;
        width:100%;
        display: flex;
        /* justify-content: center; */
        flex-wrap: wrap;
        /* background-color: rgba(255, 255, 255, 0.418); */
        padding-top:5%;
        /* margin-top:20%; */
    }
    .main-image{
        display: flex;
        justify-content: start;
        align-items: center;
        padding:5%;
    }
    h2{
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        color: black;
        text-align: left;
        font-size: 3vw;}
    .h1{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width:60%;
        height:10%;
        margin-top:10%;
        text-align: left;
        padding: 0 5%;
    }
    .h2{
        display: flex;
        /* justify-content: center; */
        align-items: flex-start;
        width:100%;
        height:10%;
        align-items: flex-end;
        /* margin-top:5%; */
        text-align: left;
        padding: 0 5%;
    }
    .paragraph{
        display: flex;
        justify-content: flex-start;
        /* align-items: flex-start; */
        height:10%;
        width:80%;
    }
    p{    
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 2vw;
        padding: 0 5%;
        text-align: left;
    }
    .form-container{
        display: flex;
        width:100%;
        /* justify-content: center; */
        align-items: flex-start;
        flex-wrap: wrap;
        height:30%;
        /* margin-top:5%; */
        padding-left: 5%;
    }
    label{
        /* width:100%;  */
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        padding: 0 5%;}

    input[type="text"]{
        /* width:50%;
        height:20%; */
        border: none;
        border-bottom: 1px solid;
        background: transparent;
        padding-bottom:2%;
    }
    .first, .second{
        width: 30%;  
    }
    .last{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 70%;
    }
    button{
        width:30%;
        height:20%;
        background: transparent;
        border: none;
        border: 1px solid;
        text-transform: uppercase;
        font-family: 'PT Sans', sans-serif;
        font-weight:bold;
        font-size:2vw;
    }
    ::placeholder{
        text-transform: uppercase;
        color:black;
        font-weight:bold;
        font-size:1vw;
    }
    }




